.cardContainer {
    width: 200px;
    .card {
        width: 200px;
        height: 300px;
        position: relative;
        transition: all .5s;
        cursor: pointer;
        img{
            width: 100%;
            height: 100%;
            border-radius: 7px;
        }
        .rating{
            position: absolute;
            top: 0;
            padding: 1em;
            background: rgba($color: #000000, $alpha: 0.1);
            color: var(--primary-color);

        }
        &:hover{
            transform: scale(1.02);
            transition: all .5s;
        }
    }

    .title {
        font-size: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: var(--secondary-color);
    }
}

.cards{
    gap: 2.4em;
}